html {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "sf-pro-display", sans-serif;
  font-weight: 500;
}

#image_overlay {
  background-image: url('../Stock/references/interface_exemple2.jpg');
  /* opacity: 100%; */
}

#little_container::-webkit-scrollbar {
  display: none;
}